# ==== Application ====
HOST=localhost
PORT=3000

# ==== PostgreSQL ====
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=openjob
PGHOST=localhost
PGPORT=5432

# ==== JWT ====
ACCESS_TOKEN_KEY=please-generate-your-own-secret
REFRESH_TOKEN_KEY=please-generate-your-own-secret

# Access token lifetime (3 hours)
# ACCESS_TOKEN_AGE='3h'

# ==== Security ====
BCRYPT_SALT_ROUNDS=10
